* {
	margin:0;
	padding:0;
}

html {
	overflow-y:scroll;
}

html,body {
    width:100%;
    height:100%;
}

body{
    font-size:2rem;
    max-width:800px;
    margin: 0 auto;
    display: grid;
    grid-template:
        "... ...... ..." 0px
        "... header ..."
        "... ...... ..." 0px
        "... center ..." 1fr
        "... ...... ..." 0px
        "... footer ..."
        "... ...... ..." 0px
        / 0px 1fr 0px;
}
header {
    grid-area: header;
}
main {
    grid-area: center;
}
footer {
    grid-area: footer;
}
@media screen and (max-width: 1000px){
    body {
        grid-template:
            "header"
            "center" 1fr
            "footer";
    }
}